@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f6f6f6;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 7px;
  max-width: 400px;
  width: 100%;
  max-height: 700px;
  height: 100%;
}

.bg-container .search-box {
  padding: 2rem;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.search-box input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  background: transparent;
  border-radius: 7px;
  outline: 0;
  font-size: 1.6rem;
  color: #777;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.center-text {
  display: block;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: cadetblue;
  padding: 1rem;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 1rem;
  width: 100%;
}

@media screen and (max-width: 640px) {
  body {
    padding: 1rem;
  }
}
